/**************** COLORS ****************/

$body-background: rgb(240, 240, 240);
$card-background: rgb(250, 250, 250);

$color-primary: rgb(58, 58, 58);
$color-secondary: rgb(49, 57, 63);
$color-tertiary: rgb(129, 134, 138);