.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    max-width: 1300px;
    padding: 0 25px;
    gap: 20px 20px;
    width: 90%;
    margin: 0 auto;
}